__pycache__/
data/AugerApJS2022_Yr_JD_UTC_Th_Ph_RA_Dec_E_Expo.dat:Zone.Identifier
data/AugerApJS2022_log_E_over_20_observ_data.dat:Zone.Identifier
data/InkedREFERENCE_FOR_TA_DATA.jpg:Zone.Identifier
literature and docs/
potential_sources/Clust_circle_ICRC.csv:Zone.Identifier
potential_sources/SBGs_under50Mpc.csv:Zone.Identifier
potential_sources/magnetars.csv:Zone.Identifier
sim_results/
trajectories/trajectories_1e3/
trajectories/trajectories_1e4/
useful_funcs.py:Zone.Identifier
